.container {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 5;
}

.flag_icon {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 5;
    opacity: 1;
    transition: opacity 300ms ease;
}

.touched {
    opacity: 0.5;
}

.cancel-selection {
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: 38px;
    margin-top: -40px;
    justify-content: center;
    align-items: center;
    align-self: center;    
}
.europe-selection {
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: 22px;
    margin-top: -38px;
    justify-content: center;
    align-items: center;
    align-self: center;    
}
.cancel-selection-icon {
    justify-content: center;
    align-items: center;
    align-self: center; 
    text-align: center;
    vertical-align: middle
}