.container {
    width: 100%;
    height: 100%;

}
body, html {
    width: 100vw;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    overflow-x: hidden;
    overflow-y: hidden;
}

.container_graph {
    background: white;
    width: 100vw;
    height: 100vh;
    margin-left: 60px;
    border-radius: '5px!important';
    align-content: flex-end;
}

.container_selected_countries {
    position: absolute;
    width: 60px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-self: center;
}

